In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/drivers_updated.csv')
df2 = pd.read_csv('../data/fastest_laps_updated.csv')
df3 = pd.read_csv('../data/teams_updated.csv')
df4 = pd.read_csv('../data/winners.csv')

# Objetivos del análisis
### Comparativa vueltas rapidas entre años
### Comprobación dominancia de escuderias por ptos entre temporadas
### Nacionalidades predominantes en la f1

In [3]:
df1

,Pos,Driver,Nationality,Car,PTS,year,Code
0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
...,...,...,...,...,...,...,...
1656,17,Kevin Magnussen,DEN,Haas Ferrari,1.0,2024,MAG
1657,18,Pierre Gasly,FRA,Alpine Renault,1.0,2024,GAS
1658,19,Zhou Guanyu,CHN,Kick Sauber Ferrari,0.0,2024,ZHO
1659,20,Valtteri Bottas,FIN,Kick Sauber Ferrari,0.0,2024,BOT
1660,21,Logan Sargeant,USA,Williams Mercedes,0.0,2024,SAR

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pos          1661 non-null   object
 1   Driver       1661 non-null   object
 2   Nationality  1661 non-null   object
 3   Car          1650 non-null   object
 4   PTS          1661 non-null   float64
 5   year         1661 non-null   int64
 6   Code         1661 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 91.0+ KB

In [5]:
df1.isna().sum()

Pos             0
Driver          0
Nationality     0
Car            11
PTS             0
year            0
Code            0
dtype: int64

In [6]:
df1.columns = df1.columns.str.lower()

In [7]:
df1[df1.year==1950].sort_values(by='car').reset_index()

,index,pos,driver,nationality,car,pts,year,code
0,0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,6,7,Bill Holland,USA,Deidt Offenhauser,6.0,1950,HOL
4,10,9,Mauri Rose,USA,Deidt Offenhauser,4.0,1950,ROS
5,19,20,Tony Bettenhausen,USA,Deidt Offenhauser,1.0,1950,BET
6,4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
7,11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
8,14,13,Cecil Green,USA,Kurtis Kraft Offenhauser,3.0,1950,GRE
9,20,20,Joie Chitwood,USA,Kurtis Kraft Offenhauser,1.0,1950,CHI
10,5,6,Johnnie Parsons,USA,Kurtis Kraft Offenhauser,9.0,1950,PAR
11,7,8,Prince Bira,THA,Maserati,5.0,1950,BIR
12,8,9,Reg Parnell,GBR,Maserati,4.0,1950,PAR
13,9,9,Louis Chiron,MON,Maserati,4.0,1950,CHI
14,18,19,Felice Bonetto,ITA,Maserati Milano,2.0,1950,BON
15,15,13,Robert Manzon,FRA,Simca-Gordini,3.0,1950,MAN
16,12,13,Yves Giraud Cabantous,FRA,Talbot-Lago,3.0,1950,CAB
17,13,13,Raymond Sommer,FRA,Talbot-Lago,3.0,1950,SOM
18,3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
19,16,13,Dorino Serafini,ITA,NaN,3.0,1950,SER
20,17,13,Philippe Etancelin,FRA,NaN,3.0,1950,ETA
21,21,20,Eugene Chaboud,FRA,NaN,1.0,1950,CHA

In [8]:
def buscar_nombre_df1(columna, nombre):

    return df1[df1[columna].str.contains(nombre, case=False, na=False)]

In [9]:
df1.iloc[16, 3] = 'Ferrari'  # lo del corchete del iloc es: el primmer numero index, segundo numero columna
df1.iloc[17, 3] = 'Philippe Étancelin'
df1.iloc[21, 3] = 'Ecurie Lutetia'
df1.iloc[35, 3] = 'Ecurie Rosier'
df1.iloc[493, 3] = 'Frank Williams Racing Cars/Williams'
df1.iloc[53, 3] = 'Scuderia Franera'
df1.iloc[309, 3] = 'Reg Parnell Racing'
df1.iloc[314, 3] = 'Reg Parnell Racing'
df1.iloc[446, 3] = 'Gold Leaf Team Lotus'
df1.iloc[478, 3] = 'STP March Racing Team'
df1.iloc[492, 3] = 'Penske-White Racing'

In [12]:
df1[df1.car.isna()]

Empty DataFrame
Columns: [pos, driver, nationality, car, pts, year, code]
Index: []

In [11]:
buscar_nombre_df1('car', 'white').head(55)

    pos          driver nationality                  car  pts  year code
492  16  Mark  Donohue          USA  Penske-White Racing  4.0  1971  DON