In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df1 = pd.read_csv('../data/drivers_updated.csv')
df2 = pd.read_csv('../data/fastest_laps_updated.csv')
df3 = pd.read_csv('../data/teams_updated.csv')
df4 = pd.read_csv('../data/winners.csv')

# Objetivos del análisis
### Comparativa vueltas rapidas entre años
### Comprobación dominancia de escuderias por ptos entre temporadas
### Nacionalidades predominantes en la f1
### Pilotos con mas puntos

In [3]:
df1.columns = df1.columns.str.lower()

df1.iloc[16, 3] = 'Ferrari'  # lo del corchete del iloc es: el primmer numero index, segundo numero columna
df1.iloc[17, 3] = 'Philippe Étancelin'
df1.iloc[21, 3] = 'Ecurie Lutetia'
df1.iloc[35, 3] = 'Ecurie Rosier'
df1.iloc[493, 3] = 'Frank Williams Racing Cars/Williams'
df1.iloc[53, 3] = 'Scuderia Franera'
df1.iloc[309, 3] = 'Reg Parnell Racing'
df1.iloc[314, 3] = 'Reg Parnell Racing'
df1.iloc[446, 3] = 'Gold Leaf Team Lotus'
df1.iloc[478, 3] = 'STP March Racing Team'
df1.iloc[492, 3] = 'Penske-White Racing'

df1.pos[df1.pos == 'DQ'] = '0'

df1.pos = df1.pos.astype(int)

df1.driver = df1.driver.apply(lambda x: 'Kimi Raikkonen' if 'Kim' in x else x)

C:\Users\v1cto\AppData\Local\Temp\ipykernel_5028\382474813.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.pos[df1.pos == 'DQ'] = '0'

In [4]:
# Crear un diccionario para asignar identificadores únicos a cada valor único
id_map = {driver: idx+1 for idx, driver in enumerate(df1['driver'].unique())}

# Agregar una nueva columna al DataFrame que contenga los identificadores
df1['driver_id'] = df1['driver'].map(id_map)

In [12]:
df1.columns

Index(['pos', 'driver', 'nationality', 'car', 'pts', 'year', 'code',
       'driver_id'],
      dtype='object')

In [15]:
df1 = df1[['driver_id' ,'pos', 'driver', 'nationality', 'car', 'pts', 'year', 'code']]

In [18]:
df1.shape

(1661, 8)

In [5]:
def buscar_temporada_df1(año):
    
    return df1[df1.year == año]

In [6]:
def buscar_nombre_df1(columna, nombre):

    return df1[df1[columna].str.contains(nombre, case=False, na=False)]

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pos          1661 non-null   int32
 1   driver       1661 non-null   object
 2   nationality  1661 non-null   object
 3   car          1661 non-null   object
 4   pts          1661 non-null   float64
 5   year         1661 non-null   int64
 6   code         1661 non-null   object
 7   driver_id    1661 non-null   int64
dtypes: float64(1), int32(1), int64(2), object(4)
memory usage: 97.5+ KB

In [17]:
df1.to_csv('drivers_clean.csv',index=False)

In [9]:
df2

,Grand Prix,Driver,Car,Time,year,Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR
...,...,...,...,...,...,...
1103,Japan,Max Verstappen,Red Bull Racing Honda RBPT,1:33.706,2024,VER
1104,China,Fernando Alonso,Aston Martin Aramco Mercedes,1:37.810,2024,ALO
1105,Miami,Oscar Piastri,McLaren Mercedes,1:30.634,2024,PIA
1106,Emilia Romagna,George Russell,Mercedes,1:18.589,2024,RUS
1107,Monaco,Lewis Hamilton,Mercedes,1:14.165,2024,HAM

In [10]:
df2.columns = df2.columns.str.lower()

df2.columns = df2.columns.str.replace(' ', '')

df2.iloc[2, 3] = '01:09.77'
df2.iloc[1033, 3] = '00:55.404'

df2.driver = df2.driver.apply(lambda x: 'Kimi Raikkonen' if 'Kim' in x else x)

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108 entries, 0 to 1107
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   grandprix  1108 non-null   object
 1   driver     1108 non-null   object
 2   car        1108 non-null   object
 3   time       1108 non-null   object
 4   year       1108 non-null   int64
 5   code       1108 non-null   object
dtypes: int64(1), object(5)
memory usage: 52.1+ KB

In [11]:
df2.to_csv('fastest_laps_clean.csv', index=False)

In [19]:
df3

    Pos                 Team   PTS  year
0     1              Vanwall  48.0  1958
1     2              Ferrari  40.0  1958
2     3        Cooper Climax  31.0  1958
3     4                  BRM  18.0  1958
4     5             Maserati   6.0  1958
..   ..                  ...   ...   ...
690   6        RB Honda RBPT  24.0  2024
691   7         Haas Ferrari   7.0  2024
692   8    Williams Mercedes   2.0  2024
693   9       Alpine Renault   2.0  2024
694  10  Kick Sauber Ferrari   0.0  2024

[695 rows x 4 columns]

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pos     695 non-null    object
 1   Team    695 non-null    object
 2   PTS     695 non-null    float64
 3   year    695 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 21.8+ KB

In [24]:
df3.columns = df3.columns.str.lower()

In [62]:
df3.to_csv('teams_updated_clean.csv', index=False)

In [47]:
df4

,Grand Prix,Date,Winner,Car,Laps,Time,Name Code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN
...,...,...,...,...,...,...,...
1105,Saudi Arabia,2024-03-09,Max Verstappen,Red Bull Racing Honda RBPT,50.0,1:20:43.273,VER
1106,Australia,2024-03-24,Carlos Sainz,Ferrari,58.0,1:20:26.843,SAI
1107,Japan,2024-04-07,Max Verstappen,Red Bull Racing Honda RBPT,53.0,1:54:23.566,VER
1108,China,2024-04-21,Max Verstappen,Red Bull Racing Honda RBPT,56.0,1:40:52.554,VER
1109,Miami,2024-05-05,Lando Norris,McLaren Mercedes,57.0,1:30:49.876,NOR

In [48]:
df4.columns = df4.columns.str.lower()

df4.iloc[11, 4] = 77
df4.iloc[11, 5] = '3:22:11.000'

df4.iloc[49, 4] = 98
df4.iloc[49, 5] = '3:00:03.700'

df4.iloc[63, 4] = 90
df4.iloc[63, 5] = '3:06:37.800'

In [37]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Grand Prix  1110 non-null   object
 1   Date        1110 non-null   object
 2   Winner      1110 non-null   object
 3   Car         1110 non-null   object
 4   Laps        1107 non-null   float64
 5   Time        1107 non-null   object
 6   Name Code   1110 non-null   object
dtypes: float64(1), object(6)
memory usage: 60.8+ KB

In [63]:
df4.to_csv('winners_clean.csv', index=False)

In [58]:
df1.head()

,driver_id,pos,driver,nationality,car,pts,year,code
0,1,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,4,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
4,5,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC

In [59]:
df2.head()

,grandprix,driver,car,time,year,code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,01:09.77,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR

In [60]:
df3.head()

  pos           team   pts  year
0   1        Vanwall  48.0  1958
1   2        Ferrari  40.0  1958
2   3  Cooper Climax  31.0  1958
3   4            BRM  18.0  1958
4   5       Maserati   6.0  1958

In [61]:
df4.head()

,grand prix,date,winner,car,laps,time,name code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN