In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/drivers_updated.csv')
df2 = pd.read_csv('../data/fastest_laps_updated.csv')
df3 = pd.read_csv('../data/teams_updated.csv')
df4 = pd.read_csv('../data/winners.csv')

# Objetivos del análisis
### Comparativa vueltas rapidas entre años
### Comprobación dominancia de escuderias por ptos entre temporadas
### Nacionalidades predominantes en la f1

In [3]:
df1.head(50)

,Pos,Driver,Nationality,Car,PTS,year,Code
0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
5,6,Johnnie Parsons,USA,Kurtis Kraft Offenhauser,9.0,1950,PAR
6,7,Bill Holland,USA,Deidt Offenhauser,6.0,1950,HOL
7,8,Prince Bira,THA,Maserati,5.0,1950,BIR
8,9,Reg Parnell,GBR,Maserati,4.0,1950,PAR
9,9,Louis Chiron,MON,Maserati,4.0,1950,CHI
10,9,Mauri Rose,USA,Deidt Offenhauser,4.0,1950,ROS
11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
12,13,Yves Giraud Cabantous,FRA,Talbot-Lago,3.0,1950,CAB
13,13,Raymond Sommer,FRA,Talbot-Lago,3.0,1950,SOM
14,13,Cecil Green,USA,Kurtis Kraft Offenhauser,3.0,1950,GRE
15,13,Robert Manzon,FRA,Simca-Gordini,3.0,1950,MAN
16,13,Dorino Serafini,ITA,NaN,3.0,1950,SER
17,13,Philippe Etancelin,FRA,NaN,3.0,1950,ETA
18,19,Felice Bonetto,ITA,Maserati Milano,2.0,1950,BON
19,20,Tony Bettenhausen,USA,Deidt Offenhauser,1.0,1950,BET
20,20,Joie Chitwood,USA,Kurtis Kraft Offenhauser,1.0,1950,CHI
21,20,Eugene Chaboud,FRA,NaN,1.0,1950,CHA
22,1,Juan Manuel Fangio,ARG,Alfa Romeo,31.0,1951,FAN
23,2,Alberto Ascari,ITA,Ferrari,25.0,1951,ASC
24,3,Jose Froilan Gonzalez,ARG,Ferrari,24.0,1951,GON
25,4,Nino Farina,ITA,Alfa Romeo,19.0,1951,FAR
26,5,Luigi Villoresi,ITA,Ferrari,15.0,1951,VIL
27,6,Piero Taruffi,ITA,Ferrari,10.0,1951,TAR
28,7,Lee Wallard,USA,Kurtis Kraft Offenhauser,9.0,1951,WAL
29,8,Felice Bonetto,ITA,Alfa Romeo,7.0,1951,BON
30,9,Mike Nazaruk,USA,Kurtis Kraft Offenhauser,6.0,1951,NAZ
31,10,Reg Parnell,GBR,BRM,5.0,1951,PAR
32,11,Luigi Fagioli,ITA,Alfa Romeo,4.0,1951,FAG
33,12,Consalvo Sanesi,ITA,Alfa Romeo,3.0,1951,SAN
34,12,Andy Linden,USA,Sherman Offenhauser,3.0,1951,LIN
35,12,Louis Rosier,FRA,NaN,3.0,1951,ROS
36,15,Toulo de Graffenried,SUI,Alfa Romeo,2.0,1951,DEG
37,15,Manny Ayulo,USA,Kurtis Kraft Offenhauser,2.0,1951,AYU
38,15,Bobby Ball,USA,Schroeder Offenhauser,2.0,1951,BAL
39,15,Jack McGrath,USA,Kurtis Kraft Offenhauser,2.0,1951,MCG
40,15,Yves Giraud Cabantous,FRA,Talbot-Lago,2.0,1951,CAB
41,1,Alberto Ascari,ITA,Ferrari,36.0,1952,ASC
42,2,Nino Farina,ITA,Ferrari,24.0,1952,FAR
43,3,Piero Taruffi,ITA,Ferrari,22.0,1952,TAR
44,4,Rudi Fischer,SUI,Ferrari,10.0,1952,FIS
45,4,Mike Hawthorn,GBR,Cooper Bristol,10.0,1952,HAW
46,6,Robert Manzon,FRA,Gordini,9.0,1952,MAN
47,7,Troy Ruttman,USA,Kuzma Offenhauser,8.0,1952,RUT
48,7,Luigi Villoresi,ITA,Ferrari,8.0,1952,VIL
49,9,Jose Froilan Gonzalez,ARG,Maserati,6.5,1952,GON

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pos          1661 non-null   object
 1   Driver       1661 non-null   object
 2   Nationality  1661 non-null   object
 3   Car          1650 non-null   object
 4   PTS          1661 non-null   float64
 5   year         1661 non-null   int64
 6   Code         1661 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 91.0+ KB

In [5]:
df1.isna().sum()

Pos             0
Driver          0
Nationality     0
Car            11
PTS             0
year            0
Code            0
dtype: int64

In [6]:
df1.columns = df1.columns.str.lower()

In [7]:
df1[df1.year==1950].sort_values(by='car').reset_index()

,index,pos,driver,nationality,car,pts,year,code
0,0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,6,7,Bill Holland,USA,Deidt Offenhauser,6.0,1950,HOL
4,10,9,Mauri Rose,USA,Deidt Offenhauser,4.0,1950,ROS
5,19,20,Tony Bettenhausen,USA,Deidt Offenhauser,1.0,1950,BET
6,4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
7,11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
8,14,13,Cecil Green,USA,Kurtis Kraft Offenhauser,3.0,1950,GRE
9,20,20,Joie Chitwood,USA,Kurtis Kraft Offenhauser,1.0,1950,CHI
10,5,6,Johnnie Parsons,USA,Kurtis Kraft Offenhauser,9.0,1950,PAR
11,7,8,Prince Bira,THA,Maserati,5.0,1950,BIR
12,8,9,Reg Parnell,GBR,Maserati,4.0,1950,PAR
13,9,9,Louis Chiron,MON,Maserati,4.0,1950,CHI
14,18,19,Felice Bonetto,ITA,Maserati Milano,2.0,1950,BON
15,15,13,Robert Manzon,FRA,Simca-Gordini,3.0,1950,MAN
16,12,13,Yves Giraud Cabantous,FRA,Talbot-Lago,3.0,1950,CAB
17,13,13,Raymond Sommer,FRA,Talbot-Lago,3.0,1950,SOM
18,3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
19,16,13,Dorino Serafini,ITA,NaN,3.0,1950,SER
20,17,13,Philippe Etancelin,FRA,NaN,3.0,1950,ETA
21,21,20,Eugene Chaboud,FRA,NaN,1.0,1950,CHA

In [8]:
def buscar_nombre_df1(columna, nombre):

    return df1[df1[columna].str.contains(nombre, case=False, na=False)]

In [9]:
df1.iloc[16, 3] = 'Ferrari'  # lo del corchete del iloc es: el primmer numero index, segundo numero columna
df1.iloc[17, 3] = 'Philippe Étancelin'
df1.iloc[21, 3] = 'Ecurie Lutetia'
df1.iloc[35, 3] = 'Ecurie Rosier'
df1.iloc[493, 3] = 'Frank Williams Racing Cars/Williams'
df1.iloc[53, 3] = 'Scuderia Franera'
df1.iloc[309, 3] = 'Reg Parnell Racing'
df1.iloc[314, 3] = 'Reg Parnell Racing'
df1.iloc[446, 3] = 'Gold Leaf Team Lotus'
df1.iloc[478, 3] = 'STP March Racing Team'
df1.iloc[492, 3] = 'Penske-White Racing'

In [10]:
buscar_nombre_df1('car', 'white').head(55)

    pos          driver nationality                  car  pts  year code
492  16  Mark  Donohue          USA  Penske-White Racing  4.0  1971  DON

In [11]:
df1.dtypes

pos             object
driver          object
nationality     object
car             object
pts            float64
year             int64
code            object
dtype: object

In [12]:
df1.pos[df1.pos == 'DQ'] = '0'

C:\Users\v1cto\AppData\Local\Temp\ipykernel_3164\2927389547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.pos[df1.pos == 'DQ'] = '0'

In [13]:
df1[df1.pos == '0']

     pos                driver nationality      car   pts  year code
1022   0  Michael  Schumacher          GER  Ferrari  78.0  1997  MSC

In [14]:
df1.pos = df1.pos.astype(int)

In [19]:
buscar_nombre_df1('pts', '.5').head(5)5

AttributeError: Can only use .str accessor with string values!