In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/drivers_updated.csv')
df2 = pd.read_csv('../data/fastest_laps_updated.csv')
df3 = pd.read_csv('../data/teams_updated.csv')
df4 = pd.read_csv('../data/winners.csv')

# Objetivos del análisis
### Comparativa vueltas rapidas entre años
### Comprobación dominancia de escuderias por ptos entre temporadas
### Nacionalidades predominantes en la f1
### Pilotos con mas puntos

In [6]:
df1.columns = df1.columns.str.lower()

df1.iloc[16, 3] = 'Ferrari'  # lo del corchete del iloc es: el primmer numero index, segundo numero columna
df1.iloc[17, 3] = 'Philippe Étancelin'
df1.iloc[21, 3] = 'Ecurie Lutetia'
df1.iloc[35, 3] = 'Ecurie Rosier'
df1.iloc[493, 3] = 'Frank Williams Racing Cars/Williams'
df1.iloc[53, 3] = 'Scuderia Franera'
df1.iloc[309, 3] = 'Reg Parnell Racing'
df1.iloc[314, 3] = 'Reg Parnell Racing'
df1.iloc[446, 3] = 'Gold Leaf Team Lotus'
df1.iloc[478, 3] = 'STP March Racing Team'
df1.iloc[492, 3] = 'Penske-White Racing'

df1.pos[df1.pos == 'DQ'] = '0'

df1.pos = df1.pos.astype(int)

df1.driver = df1.driver.apply(lambda x: 'Kimi Raikkonen' if 'Kim' in x else x)

C:\Users\v1cto\AppData\Local\Temp\ipykernel_6188\382474813.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.pos[df1.pos == 'DQ'] = '0'

In [7]:
def buscar_temporada_df1(año):
    
    return df1[df1.year == año]

In [8]:
def buscar_nombre_df1(columna, nombre):

    return df1[df1[columna].str.contains(nombre, case=False, na=False)]

In [9]:
buscar_nombre_df1('car', 'white').head(55)

     pos          driver nationality                  car  pts  year code
492   16  Mark  Donohue          USA  Penske-White Racing  4.0  1971  DON

In [10]:
df1.dtypes

pos              int32
driver          object
nationality     object
car             object
pts            float64
year             int64
code            object
dtype: object

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pos          1661 non-null   int32
 1   driver       1661 non-null   object
 2   nationality  1661 non-null   object
 3   car          1661 non-null   object
 4   pts          1661 non-null   float64
 5   year         1661 non-null   int64
 6   code         1661 non-null   object
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 84.5+ KB

In [12]:
df1_numerical = ['pos', 'pts', 'year']

df1[df1_numerical].describe().T

       count         mean        std     min     25%     50%     75%     max
pos   1661.0    11.416616   6.442690     0.0     6.0    11.0    17.0    28.0
pts   1661.0    31.138170  60.446033     0.0     3.0     9.0    32.0   575.0
year  1661.0  1987.124624  21.849750  1950.0  1968.0  1987.0  2006.0  2024.0

In [19]:
df1.nationality.value_counts()

nationality
GBR    299
ITA    193
FRA    185
GER    137
USA    135
BRA    111
FIN     65
ESP     51
AUS     51
AUT     44
NZL     38
BEL     36
ARG     35
JPN     35
SWE     33
SUI     31
MEX     30
CAN     27
NED     27
RSA     16
DEN     11
RUS     10
MON      9
POL      7
THA      7
VEN      6
COL      6
IND      5
POR      4
IRL      4
RHO      3
CHN      3
HUN      2
CHI      2
MAS      1
INA      1
RAF      1
Name: count, dtype: int64

In [15]:
df = pd.DataFrame
df(df1[df1.nationality == 'ESP'].driver.unique(), columns=['driver'])

                driver
0          Paco Godia
1  Alfonso  de Portago
2    Luis  Perez-Sala
3   Pedro  de la Rosa
4          Marc  Gene
5    Fernando  Alonso
6  Jaime  Alguersuari
7       Carlos  Sainz
8      Roberto  Merhi

In [16]:
df(df1.groupby('driver')['pts'].agg('sum')).sort_values(by='pts', ascending=False)

                       pts
driver
Lewis  Hamilton     4681.5
Sebastian  Vettel   3098.0
Max  Verstappen     2755.5
Fernando  Alonso    2300.0
Kimi Raikkonen      1873.0
...                    ...
Rio  Haryanto          0.0
Ian  Burgess           0.0
Hap Sharp              0.0
Giorgio  Pantano       0.0
Ian  Raby              0.0

[399 rows x 1 columns]