In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df1 = pd.read_csv('../data/drivers_updated.csv')
df2 = pd.read_csv('../data/fastest_laps_updated.csv')
df3 = pd.read_csv('../data/teams_updated.csv')
df4 = pd.read_csv('../data/winners.csv')

# Objetivos del análisis
### Comparativa vueltas rapidas entre años
### Comprobación dominancia de escuderias por ptos entre temporadas
### Nacionalidades predominantes en la f1
### Pilotos con mas puntos

In [3]:
df1.columns = df1.columns.str.lower()

df1.iloc[16, 3] = 'Ferrari'  # lo del corchete del iloc es: el primmer numero index, segundo numero columna
df1.iloc[17, 3] = 'Philippe Étancelin'
df1.iloc[21, 3] = 'Ecurie Lutetia'
df1.iloc[35, 3] = 'Ecurie Rosier'
df1.iloc[493, 3] = 'Frank Williams Racing Cars/Williams'
df1.iloc[53, 3] = 'Scuderia Franera'
df1.iloc[309, 3] = 'Reg Parnell Racing'
df1.iloc[314, 3] = 'Reg Parnell Racing'
df1.iloc[446, 3] = 'Gold Leaf Team Lotus'
df1.iloc[478, 3] = 'STP March Racing Team'
df1.iloc[492, 3] = 'Penske-White Racing'

df1.pos[df1.pos == 'DQ'] = '0'

df1.pos = df1.pos.astype(int)

df1.driver = df1.driver.apply(lambda x: 'Kimi Raikkonen' if 'Kim' in x else x)

C:\Users\v1cto\AppData\Local\Temp\ipykernel_5028\382474813.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.pos[df1.pos == 'DQ'] = '0'

In [4]:
# Crear un diccionario para asignar identificadores únicos a cada valor único
id_map = {driver: idx+1 for idx, driver in enumerate(df1['driver'].unique())}

# Agregar una nueva columna al DataFrame que contenga los identificadores
df1['driver_id'] = df1['driver'].map(id_map)

In [12]:
df1.columns

Index(['pos', 'driver', 'nationality', 'car', 'pts', 'year', 'code',
       'driver_id'],
      dtype='object')

In [15]:
df1 = df1[['driver_id' ,'pos', 'driver', 'nationality', 'car', 'pts', 'year', 'code']]

In [16]:
df1

,driver_id,pos,driver,nationality,car,pts,year,code
0,1,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,4,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
4,5,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
...,...,...,...,...,...,...,...,...
1656,364,17,Kevin Magnussen,DEN,Haas Ferrari,1.0,2024,MAG
1657,379,18,Pierre Gasly,FRA,Alpine Renault,1.0,2024,GAS
1658,394,19,Zhou Guanyu,CHN,Kick Sauber Ferrari,0.0,2024,ZHO
1659,382,20,Valtteri Bottas,FIN,Kick Sauber Ferrari,0.0,2024,BOT
1660,398,21,Logan Sargeant,USA,Williams Mercedes,0.0,2024,SAR

In [5]:
def buscar_temporada_df1(año):
    
    return df1[df1.year == año]

In [6]:
def buscar_nombre_df1(columna, nombre):

    return df1[df1[columna].str.contains(nombre, case=False, na=False)]

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pos          1661 non-null   int32
 1   driver       1661 non-null   object
 2   nationality  1661 non-null   object
 3   car          1661 non-null   object
 4   pts          1661 non-null   float64
 5   year         1661 non-null   int64
 6   code         1661 non-null   object
 7   driver_id    1661 non-null   int64
dtypes: float64(1), int32(1), int64(2), object(4)
memory usage: 97.5+ KB

In [17]:
df1.to_csv('drivers_clean.csv',index=False)

In [9]:
df2

,Grand Prix,Driver,Car,Time,year,Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR
...,...,...,...,...,...,...
1103,Japan,Max Verstappen,Red Bull Racing Honda RBPT,1:33.706,2024,VER
1104,China,Fernando Alonso,Aston Martin Aramco Mercedes,1:37.810,2024,ALO
1105,Miami,Oscar Piastri,McLaren Mercedes,1:30.634,2024,PIA
1106,Emilia Romagna,George Russell,Mercedes,1:18.589,2024,RUS
1107,Monaco,Lewis Hamilton,Mercedes,1:14.165,2024,HAM

In [10]:
df2.columns = df2.columns.str.lower()

df2.columns = df2.columns.str.replace(' ', '')

df2.iloc[2, 3] = '01:09.77'
df2.iloc[1033, 3] = '00:55.404'

df2.driver = df2.driver.apply(lambda x: 'Kimi Raikkonen' if 'Kim' in x else x)

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108 entries, 0 to 1107
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   grandprix  1108 non-null   object
 1   driver     1108 non-null   object
 2   car        1108 non-null   object
 3   time       1108 non-null   object
 4   year       1108 non-null   int64
 5   code       1108 non-null   object
dtypes: int64(1), object(5)
memory usage: 52.1+ KB

In [11]:
df2.to_csv('fastest_laps_clean.csv', index=False)